
body {
  background: linear-gradient(270deg, #1b38ba, #0072ff);
  font-family: Arial, sans-serif;
   height: 100vh; 
  margin: 0;     
  display: flex;
  flex-direction: column;
  background: url("istockphoto-1384700413-612x612.png") no-repeat center top;
  background-size: 300px auto;  /* adjust size */
  background-attachment: fixed;
  background-color: #1b38ba;    /* gradient or fallback */
  font-family: Arial, sans-serif;
  margin: 0;
}

body.nav-open {
  overflow: hidden; /* prevent background scroll when menu open */
}


.navbar {
  background-color: rgb(36, 75, 247) !important; 
}

.search-wrapper{
max-width: 100%;
  flex: 1;  
}

.Search{
  padding-right: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: none;
  color: black;
  padding-left:10px ;
  border: none;
}
.search-btn{
  position: absolute;
  top: 50%;
  right: 10vw;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}
.navbar-nav .nav-item {
  margin-left: 20px; 
}
.navbar-toggler{
  border: none;
  
}
.clear-btn {
  display: none;  /* hide by default */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  color: black;
}


.search-btn{display: flex;}
.clear-btn{display: none;}

.search-wrapper{
  position: relative;
  display: flex;
  align-items: center;


}
.Search {
  width: 0;                   
  padding: 5px 10px;
  opacity: 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: all 0.4s ease;   
}

.Search.show {
  width: 200px;   
  opacity: 1;
}

.search-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 8px;
  font-size: 18px;
}

.dropdown-menu{
  background: none;
  border: none;
}
.dropdown-item:hover{
  background-color:aliceblue;
  border-radius: 15px;

}
.navbar-collapse {
  position: absolute;
  top: 100%;    
  left: 0;
  width: 100%;
  background: #0d6efd; 
  z-index: 999;
}
